// Google Fonts and Variables
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap);
$montserrat-sans: 'Montserrat', sans-serif;

// Colors
$white: #FCFAFA;
$blue: #033860;
$grey: #454C5E;
$yellow: #E1AD01;

// Components
h1 {
  font-family: $montserrat-sans;
  color: $blue;
}

p {
  font-family: $montserrat-sans;
  color: $grey;
  margin-top: -1%
}

form {
  width: 50%
}

input {
  width: 250px;
  padding: 10px 15px;
  margin-right: 5px;
  box-sizing: border-box;
}

select {
  width: 150px;
  padding: 10px 15px;
  margin-left: 5px;
  @media only screen and (max-width: 900px) {
    width: 250px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

a {
  color: $yellow;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

// Classes
.wrapper-full {
  position: absolute;
  top: 30%;
  left: 2%;
  right: 2%;
  transition:all .5s linear;
}

.wrapper-top {
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  transition:all .5s linear;
}

.grid-wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  @media only screen and (max-width: 768px) {
    grid-template-columns: auto auto;
  }
}

.grid-item {
  font-family: $montserrat-sans;
  border: 1px solid $grey;
  background-color: $blue + D9;
  color: $white;
  font-size: 15px;
  display: flex;
  padding: 2%;
  @media only screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.grid-item-text {
  margin-left: 5%;
  flex: 1
}
