// Google Fonts and Variables
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap);
$montserrat-sans: 'Montserrat', sans-serif;

// Colors
$white: #FCFAFA;
$blue: #033860;
$grey: #454C5E;
$yellow: #E1AD01;

// Components
h1 {
  font-family: $montserrat-sans;
  color: $blue;
}

p {
  font-family: $montserrat-sans;
  color: $grey;
  margin-top: -1%
}

form {
  width: 50%
}

input {
  width: 250px;
  padding: 10px 15px;
  margin-right: 5px;
  box-sizing: border-box;
}

select {
  width: 150px;
  padding: 10px 15px;
  margin-left: 5px;
  @media only screen and (max-width: 900px) {
    width: 250px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

a {
  color: $yellow;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

// Classes
.wrapper-full {
  position: absolute;
  top: 30%;
  left: 2%;
  right: 2%;
  transition:all .5s linear;
}

.wrapper-top {
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  transition:all .5s linear;
}

.visible {
  position:  fixed !important;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  background: $grey + D9;
}

.hidden {
  display: none
}

.grid-wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  @media only screen and (max-width: 768px) {
    grid-template-columns: auto auto;
  }
}

.grid-item {
  font-family: $montserrat-sans;
  border: 1px solid $grey;
  background-color: $blue + D9;
  color: $white;
  font-size: 15px;
  display: flex;
  padding: 2%;
  @media only screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.grid-item-text {
  margin-left: 5%;
  flex: 1
}


// Spinner Implementation: https://tobiasahlin.com/spinkit/
.spinner {
  width: 40px;
  height: 40px;
  background-color: $blue;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
